includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    bootstrapFiles:
        - phpstan-bootstrap.php
    paths:
        - pv-blocks-suite.php
        - includes
        - src
